[color]
	ui = auto
[merge]
	conflictstyle = diff3
	tool = diffmerge
[core]
	editor = subl -n -w
[user]
	
[pager]
	branch = false
[alias]
	sl = stash list
	s = stash
	cp = cherry-pick
	cm = commit -m
[mergetool]
	prompt = false