[color]
	ui = auto
[merge]
	conflictstyle = diff3
	tool = diffmerge
[core]
	editor = vi
	excludesFile = .gitignore_global
[user]
	name = nemscep
	email = nemscepanovic@gmail.com
[pager]
	branch = false
	log = true
[alias]
	sl = stash list
	s = stash
	cp = cherry-pick
	cm = commit -S -m
	fp = fetch --prune
	lg = log --oneline
	lgn = log --oneline -n
	ra = rebase --abort
	ma = merge --abort
	rc = rebase --continue
	mc = merge --continue
	cb = checkout -b
[mergetool]
	prompt = false
[init]
	main = main
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgSign = true
[tag]
	gpgSign = true
